.div-geral-servico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
}
.hifem {
  font-size: 30px;
}

.h1-servico{
    font-size: 40px;
}

.titulo-servico {
  background: linear-gradient(to right, #f5f858, #f8e007);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  border-radius: 0 500px 0 500px;
  height: 42px
}

.div-servico.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-servico {
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(158, 157, 157);
  /* background-color: rgb(211, 211, 211); */
  border-radius: 500px;
  color: rgb(50, 50, 50);
  font-size: 24px;
  line-height: 0;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2 ease;
}
.div-servico:hover {
  transform: scale(1.075);
  background-color: rgb(230, 230, 230);
  font-weight: 900;
  color: black;
  border: 2px solid rgb(0, 0, 0);
}
.div-sigla-nome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.h2-servico {
  font-size: 22px;
  font-weight: 900;
}
.h3-servico {
  font-size: 20px;
}
.h3-extra{
    font-size: 26px;
}
