.divPaiExibirServico {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin-bottom: 100px; */
	/* margin-top: 50px; */
}
.divTituloExibirServico {
	display: flex;
	justify-content: center;
	align-items: center;
}
.divTituloExibirServico h1 {
	/*Responsivo*/
	font-size: 6rem;
	font-weight: 700;
	text-decoration: underline;
}
.divMapServicos {
	/*Responsivo*/
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 2px; */
}

.divTituloServico {
	/*Responsivo*/
	display: flex;
	margin-top: 150px;
	justify-content: center;
	align-items: center;
	width: 90%;
	background: linear-gradient(to right, #f9fc61, #f8df02);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
	border-radius: 0 500px 0 500px;
	height: 96px;
	margin-bottom: 50px;
}
.divTituloServico h1 {
	/*Responsivo*/
	font-size: 4rem;
	font-weight: 700;
}
/*Saude e Segurança do Trabalho*/
/*Saude e Segurança do Trabalho*/
/*Saude e Segurança do Trabalho*/
.divServicoIndividualSST {
	width: 86%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(158, 157, 157);
	/* background-color: rgb(211, 211, 211); */
	border-radius: 500px;
	line-height: 0;
	transition: transform 0.2s ease, background-color 0.2s ease, color 0.2 ease;
}
.divServicoIndividualSST:hover {
	transform: scale(1.075);
	background-color: rgb(230, 230, 230);
	font-weight: 900;
	color: black;
	border: 2px solid rgb(0, 0, 0);
}
.divServicoIndividualSST h2 {
	/*Responsivo*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.6rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
.divServicoIndividualSST h3 {
	/*Responsivo*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
.divServicoIndividualSST p {
	/*Responsivo*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 2.5rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
	padding-left: 10px;
	padding-right: 10px;
}
.divServicoSelecionado {
	padding: 0px;
	margin: 0px;
	width: 94%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 2.5rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
	gap: 50px;

}
.divServicoSelecionado b {
	font-size: 2.5rem;
	color: red;
}
.divServicoSelecionado button {
	text-align: center;
	font-size: 2.5rem;
	text-decoration: underline;
	color: red;
	border: none;
	background-color: transparent;
}
/*Higiene Ocupacional*/
/*Higiene Ocupacional*/
/*Higiene Ocupacional*/
.divServicoIndividualHO {
	width: 86%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(158, 157, 157);
	/* background-color: rgb(211, 211, 211); */
	border-radius: 500px;
	line-height: 0;
	transition: transform 0.2s ease, background-color 0.2s ease, color 0.2 ease;
}
.divServicoIndividualHO:hover {
	transform: scale(1.075);
	background-color: rgb(230, 230, 230);
	font-weight: 900;
	color: black;
	border: 2px solid rgb(0, 0, 0);
}
.divServicoIndividualHO h2 {
	/*Responsivo*/
	font-size: 2.6rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
.divServicoIndividualHO h3 {
	/*Responsivo*/
	font-size: 2.5rem;
	font-weight: 700;
	color: rgb(50, 50, 50);
}
.divServicoIndividualHO p {
	/*Responsivo*/
	font-size: 2.5rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
	padding-left: 10px;
	padding-right: 10px;
}
/*Treinamentos*/
/*Treinamentos*/
/*Treinamentos*/
.divServicoIndividualT {
	width: 86%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(158, 157, 157);
	/* background-color: rgb(211, 211, 211); */
	border-radius: 500px;
	line-height: 0;
	transition: transform 0.2s ease, background-color 0.2s ease, color 0.2 ease;
}
.divServicoIndividualT:hover {
	transform: scale(1.075);
	background-color: rgb(230, 230, 230);
	font-weight: 900;
	color: black;
	border: 2px solid rgb(0, 0, 0);
}
.divServicoIndividualT h2 {
	/*Responsivo*/
	font-size: 2.6rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
.divServicoIndividualT h3 {
	/*Responsivo*/
	font-size: 2.5rem;
	font-weight: 700;
	color: rgb(50, 50, 50);
}
.divServicoIndividualT p {
	/*Responsivo*/
	font-size: 2.5rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
	padding-left: 10px;
	padding-right: 10px;
}
/*Serviços*/
/*Serviços*/
/*Serviços*/
.divServicoIndividualS {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(158, 157, 157);
	/* background-color: rgb(211, 211, 211); */
	border-radius: 500px;
	line-height: 0;
	transition: transform 0.2s ease, background-color 0.2s ease, color 0.2 ease;
}
.divServicoIndividualS:hover {
	transform: scale(1.075);
	background-color: rgb(230, 230, 230);
	font-weight: 900;
	color: black;
	border: 2px solid rgb(0, 0, 0);
}
.divServicoIndividualS h2 {
	/*Responsivo*/
	font-size: 3rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
.divServicoIndividualS h3 {
	/*Responsivo*/
	font-size: 3rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
.divServicoIndividualS p {
	/*Responsivo*/
	font-size: 2.5rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
/*Especialidades Médicas*/
/*Especialidades Médicas*/
/*Especialidades Médicas*/
.divServicoIndividualEM {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(158, 157, 157);
	/* background-color: rgb(211, 211, 211); */
	border-radius: 500px;
	line-height: 0;
	transition: transform 0.2s ease, background-color 0.2s ease, color 0.2 ease;
}
.divServicoIndividualEM:hover {
	transform: scale(1.075);
	background-color: rgb(230, 230, 230);
	font-weight: 900;
	color: black;
	border: 2px solid rgb(0, 0, 0);
}
.divServicoIndividualEM h2 {
	/*Responsivo*/
	font-size: 3rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
.divServicoIndividualEM h3 {
	/*Responsivo*/
	font-size: 3rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
.divServicoIndividualEM p {
	/*Responsivo*/
	font-size: 2.5rem;
	font-weight: 900;
	color: rgb(50, 50, 50);
}
