.Home {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.inner {
  display: flex;
}

.item {
  min-width: 990px;
  padding: 14px;
}

.item img {
  width: 100%;
  height: 90%;
  border-radius: 25px;
  pointer-events: none;
}

.carrossel {
  cursor: grab;
  overflow: hidden;
}

.paragrafo {
  font-size: 24px;
  font-weight: 500;
}

.div-central-paragrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.div-paragrafo {
  width: 750px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

b {
  font-weight: 900;
  color: rgb(255, 45, 49);
}

.div-button-leiamais {
  padding: 10px;
  margin: 10px;
}
.button-leiamais {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 25px;
  border: solid rgb(255, 45, 49) 3px;
  color: rgb(255, 45, 49);
}

.servico-padding-direita {
  padding-right: 20px;
}
.servico-padding-esquerda {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bela-borda {
  border: 5px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(255, 45, 49), rgb(175, 45, 49)) border-box;
  border-radius: 25px;
}


.div-geral-banners {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.div-banners-impar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.div-paragrafo1 {
  width: 35%;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-banner1 {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner1 {
  width: 650px;
  height: 300px;
  border-radius: 0 200px 200px 0;
}
.div-paragrafo3 {
  width: 35%;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-banner3 {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner3 {
  width: 650px;
  height: 300px;
  border-radius: 0 200px 200px 0;
}

.div-banners-par {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.div-paragrafo2 {
  width: 35%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.div-banner2 {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner2 {
  width: 650px;
  height: 300px;
  border-radius: 200px 0 0 200px;
}
.div-paragrafo4 {
  width: 35%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.div-banner4 {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner4 {
  width: 650px;
  height: 300px;
  border-radius: 200px 0 0 200px;
}
