@media (max-width: 4000px) and (min-width: 3000px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 3000px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 3rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2999px) and (min-width: 2900px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2900px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 2.9rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2899px) and (min-width: 2800px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2800px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 2.8rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2799px) and (min-width: 2700px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2700px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 2.7rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2699px) and (min-width: 2600px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2600px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 2.6rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2599px) and (min-width: 2500px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2500px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 2.5rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2499px) and (min-width: 2400px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2400px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 2.4rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2399px) and (min-width: 2300px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2300px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 2.3rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2299px) and (min-width: 2200px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2200px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 2.2rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2199px) and (min-width: 2100px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2100px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        text-align: center;
		font-size: 2.1rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 2099px) and (min-width: 2000px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 2000px;
	}
	.teste {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 2rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1999px) and (min-width: 1900px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1900px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1.9rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1899px) and (min-width: 1800px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1800px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1.8rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1799px) and (min-width: 1700px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1700px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1.7rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1699px) and (min-width: 1600px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1600px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1.6rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1599px) and (min-width: 1500px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1500px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1.5rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1499px) and (min-width: 1400px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1400px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1.4rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1399px) and (min-width: 1300px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1300px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1.3rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1299px) and (min-width: 1200px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1200px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1.2rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1199px) and (min-width: 1100px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1100px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1.1rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 1099px) and (min-width: 1000px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 1000px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 1rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 999px) and (min-width: 900px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 900px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.9rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 899px) and (min-width: 800px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 800px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.85rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 799px) and (min-width: 700px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 700px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.8rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 699px) and (min-width: 600px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 600px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.75rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 599px) and (min-width: 550px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 550px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.7rem;
	}
}

/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 549px) and (min-width: 500px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 500px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.65rem;
	}
}
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 499px) and (min-width: 450px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 450px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.6rem;
	}
}
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 449px) and (min-width: 400px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 400px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.55rem;
	}
}
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 399px) and (min-width: 350px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 350px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.5rem;
	}
}
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 349px) and (min-width: 300px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 300px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.5rem;
	}
}
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 299px) and (min-width: 250px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 270px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.5rem;
	}
}
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/
/*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/ /*RESPONSIVIDADE*/

@media (max-width: 249px) and (min-width: 1px) {
	.sliderImage {
		border-radius: 15px;
		display: none; /* começa escondido */
	}

	.active {
		display: block; /* exibe somente imagem atual */
		justify-content: center;
		width: 220px;
	}
	.teste {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.teste p {
        margin-top: 0px;
        font-weight: 500;
        text-align: center;
		font-size: 0.5rem;
	}
}
