.divPaiFooter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.divFaixaColoridaFooter {
	/*Responsivo*/
	margin: 0;
	width: 100%;
	height: 36px;
	background: linear-gradient(to right, rgb(255, 45, 49), rgb(175, 45, 49));
}
.divGeralRedesSociaisFooter {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 20px;
}
.divTituloRedesSociaisFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.divTituloRedesSociaisFooter h1 {
	font-size: 2rem;
	font-weight: 700;
}
.divConjuntaRedesSociaisFooter {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
.divUnicaRedesSociaisFooter {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.divImageRedesSociaisFooter {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.divImageRedesSociaisFooter img {
	width: 80%;
}
.divParagrafoRedesSociaisFooter {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.divParagrafoRedesSociaisFooter p {
	font-size: 1.5rem;
	font-weight: 700;
}
.divFaixaCinzaFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	background: rgb(65, 62, 62);
}
.divFaixaCinzaFooter p {
	font-size: 1rem;
	color: white;
	font-weight: 700;
}
.divFaixaCinzaFooter p:hover {
	background: linear-gradient(
		to right,
		red,
		orange,
		yellow,
		green,
		blue,
		indigo,
		violet
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}
.divFaixaCinzaFooter button {
	background-color: rgb(65, 62, 62);
    border: none;
}
.divExtensaoDePaginaFooter {
    width: 100%;
    height: 40px;
    background-color: rgb(120, 2, 2);
}